<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Group Test" parallel="classes" thread-count="4" >
    <test name="Testsuite 1">
        <classes>
            <class name="alerts.AlertTests"/>
            <class name="alerts.FileUploadtests"/>
            <class name="horizontalslider.HorizontalSliderPageTests"/>
            <class name="hover.HoverTests"/>
        </classes>
    </test>
</suite>